<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home</title>
</head>

<body>
    <div>
        <h1>API rest to https://www.themoviedb.org/ API </h1>
        <p>For more information visit this link https://developers.themoviedb.org/3/getting-started/introduction</p>
        <br>
        <p>Requests:</p>
        <h3>/popular</h3>
        <span>List a popular movie</span>
        <h3>/search_by_id/'id-movie'</h3>
        <span>Search a movie by id</span>
        <h3>/create/'name_list'/'description'/'language'</h3>
        <span>Create a personal list in api</span>
        <h3>/view/'id_list'</h3>
        <span>View the list by id</span>
        <h3>/delete/'id_list'</h3>
        <span>Delete a list by id</span>

    </div>
</body>
</html>